.container {
  display: flex;
  justify-content: center;
}
.cabecalho {
  background: #181818;
  color: #ffffff;
  padding: 30px;
}
.cabecalho h1 {
  font-weight: 400;
}
.cabecalho span {
  background-color: #fdd803;
  box-shadow: 0px 0px 5px #fdae03;
  color: #000000;
  font-weight: 800;
  padding: 5px 10px;
  border-radius: 3px;
  transition: ease-in-out 0.3s;
}

.cabecalho span:hover {
  box-shadow: 0px 0px 15px #fdae03;
}

@media (max-width: 600px) {
  .cabecalho {
    padding: 30px;
  }
  .cabecalho h1 {
    font-size: 1rem;
  }
  .cabecalho span {
    display: block;
    text-align: center;
  }
}
