.banner__principal {
  background-color: #313131;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner__principal h2 {
  color: #f9f7f7;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 50px;
  position: relative;
}
.banner__principal h2::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 0px;
  width: 50px;
  height: 7px;
  border-radius: 2px;
  background-color: #fdd803;
}

.conteudo__principal {
  background-color: #3b3636a8;
  width: 500px;
  padding: 90px 50px;
  border-radius: 4px;
  box-shadow: 1px 1px 10px 0px;
}
.form__teste {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #b1b1b1;
}

.form__teste label {
  padding: 0px 5px;
  color: #d1d1d1;
}
.form__teste input {
  border: 0;
  border-bottom: 1px solid #d1d1d12e;
  color: #b1b1b1;
  background-color: #3d363652;
  padding: 5px 0px 3px 5px;
  font-size: 1rem;
}

.form__teste button {
  width: 150px;
  cursor: pointer;
  background-color: #fdd803;
  box-shadow: 0 0 6px #fdae03;
  border: 0;
  border-radius: 2px;
  padding: 10px;
  font-family: "Roboto Mono";
  font-weight: 700;
  font-size: 1rem;
  position: relative;
  transition: ease-in-out 0.2s;
}

.form__teste button:hover {
  box-shadow: 0px 0px 15px #fdae03;
}
.form__teste button::after {
  content: ">";
  font-size: 1rem;
  position: absolute;
  right: 30px;
  transition: ease-in-out 0.2s;
}

.form__teste button:hover::after {
  transform: translateX(4px);
}

@media (max-width: 600px) {
  .conteudo__principal {
    width: 300px;
  }
  .banner__principal h2::after {
    top: 90px;
  }
}
